In [17]:
# import pandas as pd
# import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# import requests
# from bs4 import BeautifulSoup
# from pandas.io import gbq
# from google.cloud import bigquery

# name = 'economic-damage-from-natural-disasters'
# df = pd.read_csv('datasets/'+(name)+'.csv')
# df.head()

,Entity,Code,Year,Total economic damage from natural disasters (US$)
0,All natural disasters,NaN,1900,30000000
1,All natural disasters,NaN,1901,0
2,All natural disasters,NaN,1902,0
3,All natural disasters,NaN,1903,480000000
4,All natural disasters,NaN,1904,0

In [ ]:
# with open("datasets/cats-03062020-1123.csv", 'r') as f:
#     lines = f.readlines()

In [ ]:
# lines.value_counts()

# Google Database BigQuery Code (Start here)>>>

In [ ]:
# !pip install --upgrade google-cloud-bigquery
# !pip install pandas-gbq
# !pip install google-cloud-bigquery

In [18]:
from google.cloud import bigquery
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file("p5_cred.json")
project_id = 'banded-water-276418'

In [26]:
client = bigquery.Client(credentials= credentials,project='banded-water-276418')

In [43]:
katrina_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

katrina_data_q2 = gbq.read_gbq(katrina_data, project_id='banded-water-276418')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 23.21rows/s]

In [44]:
katrina_data_q2

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22071,22071,13.0,426.0,57.0,1.08,0.09,0.02,2568.0,767.0,...,512.0,0.94,1.03,1.02,320.0,792.0,11191.0,1.16,1.00,1.47
1,22089,22089,5.0,373.0,16.0,0.77,0.42,0.07,164.0,677.0,...,47.0,0.47,0.37,1.02,68.0,891.0,1188.0,1.06,2.59,1.72
2,22051,22051,18.0,370.0,78.0,1.03,0.11,0.04,2629.0,620.0,...,238.0,0.95,0.49,0.54,468.0,736.0,7994.0,1.19,1.32,1.20
3,22103,22103,33.0,461.0,150.0,1.40,0.47,0.22,1129.0,679.0,...,191.0,0.78,0.46,1.34,148.0,852.0,1318.0,1.49,0.95,0.61
4,22075,22075,13.0,361.0,51.0,0.81,1.32,0.34,99.0,928.0,...,0.0,0.00,0.20,0.00,85.0,854.0,1903.0,1.11,3.94,3.96
5,22087,22087,2.0,0.0,0.0,0.00,0.14,0.00,145.0,677.0,...,52.0,0.38,0.74,1.43,48.0,856.0,676.0,1.56,1.50,1.23

In [45]:
katrina_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

katrina_data_q3 = gbq.read_gbq(katrina_data, project_id='banded-water-276418')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 24.60rows/s]

In [46]:
katrina_data_q3

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22051,22051,19.0,348.0,68.0,0.92,0.12,0.05,2624.0,658.0,...,170.0,0.86,0.51,0.48,468.0,794.0,6719.0,1.20,1.33,1.35
1,22089,22089,5.0,336.0,9.0,0.67,0.42,0.04,169.0,619.0,...,27.0,0.68,0.23,0.54,69.0,876.0,1160.0,0.99,2.64,1.63
2,22075,22075,13.0,287.0,44.0,0.60,1.33,0.36,100.0,950.0,...,0.0,0.14,0.23,0.00,86.0,884.0,1592.0,1.05,4.00,3.98
3,22071,22071,13.0,515.0,44.0,1.21,0.09,0.03,2559.0,873.0,...,301.0,0.96,1.01,0.77,317.0,852.0,8069.0,1.13,1.00,1.46
4,22103,22103,32.0,489.0,136.0,1.42,0.45,0.25,1139.0,792.0,...,133.0,0.99,0.50,1.04,151.0,1136.0,1092.0,1.88,0.97,0.61
5,22087,22087,2.0,0.0,0.0,0.00,0.14,0.00,144.0,634.0,...,34.0,0.36,0.68,1.43,50.0,777.0,466.0,1.25,1.57,1.39

In [47]:
katrina_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

katrina_data_q4 = gbq.read_gbq(katrina_data, project_id='banded-water-276418')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 27.78rows/s]

In [48]:
katrina_data_q4

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22075,22075,15.0,379.0,39.0,0.68,1.55,0.36,101.0,1287.0,...,0.0,0.00,0.19,0.00,90.0,952.0,1757.0,1.03,4.21,4.15
1,22051,22051,19.0,441.0,69.0,0.93,0.12,0.05,2608.0,858.0,...,313.0,1.01,0.58,0.82,465.0,940.0,6519.0,1.20,1.32,1.15
2,22103,22103,31.0,560.0,135.0,1.41,0.44,0.26,1178.0,845.0,...,190.0,1.09,0.62,1.39,157.0,1061.0,1347.0,1.62,1.00,0.66
3,22071,22071,13.0,708.0,47.0,1.24,0.09,0.04,2529.0,1271.0,...,290.0,0.93,1.09,0.94,313.0,1035.0,7991.0,1.10,1.02,1.72
4,22087,22087,1.0,0.0,0.0,0.00,0.08,0.00,132.0,970.0,...,8.0,0.25,0.67,0.62,50.0,973.0,501.0,1.08,1.72,2.59
5,22089,22089,5.0,0.0,0.0,0.00,0.42,0.00,174.0,757.0,...,31.0,0.80,0.27,0.67,69.0,0.0,0.0,0.00,2.60,0.00

In [50]:
katrina_df = pd.concat([katrina_data_q2, katrina_data_q3, katrina_data_q4])

In [51]:
katrina_df.to_csv('katrina.csv', index=False)

In [53]:
katrina_df

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22071,22071,13.0,426.0,57.0,1.08,0.09,0.02,2568.0,767.0,...,512.0,0.94,1.03,1.02,320.0,792.0,11191.0,1.16,1.00,1.47
1,22089,22089,5.0,373.0,16.0,0.77,0.42,0.07,164.0,677.0,...,47.0,0.47,0.37,1.02,68.0,891.0,1188.0,1.06,2.59,1.72
2,22051,22051,18.0,370.0,78.0,1.03,0.11,0.04,2629.0,620.0,...,238.0,0.95,0.49,0.54,468.0,736.0,7994.0,1.19,1.32,1.20
3,22103,22103,33.0,461.0,150.0,1.40,0.47,0.22,1129.0,679.0,...,191.0,0.78,0.46,1.34,148.0,852.0,1318.0,1.49,0.95,0.61
4,22075,22075,13.0,361.0,51.0,0.81,1.32,0.34,99.0,928.0,...,0.0,0.00,0.20,0.00,85.0,854.0,1903.0,1.11,3.94,3.96
5,22087,22087,2.0,0.0,0.0,0.00,0.14,0.00,145.0,677.0,...,52.0,0.38,0.74,1.43,48.0,856.0,676.0,1.56,1.50,1.23
0,22051,22051,19.0,348.0,68.0,0.92,0.12,0.05,2624.0,658.0,...,170.0,0.86,0.51,0.48,468.0,794.0,6719.0,1.20,1.33,1.35
1,22089,22089,5.0,336.0,9.0,0.67,0.42,0.04,169.0,619.0,...,27.0,0.68,0.23,0.54,69.0,876.0,1160.0,0.99,2.64,1.63
2,22075,22075,13.0,287.0,44.0,0.60,1.33,0.36,100.0,950.0,...,0.0,0.14,0.23,0.00,86.0,884.0,1592.0,1.05,4.00,3.98
3,22071,22071,13.0,515.0,44.0,1.21,0.09,0.03,2559.0,873.0,...,301.0,0.96,1.01,0.77,317.0,852.0,8069.0,1.13,1.00,1.46
4,22103,22103,32.0,489.0,136.0,1.42,0.45,0.25,1139.0,792.0,...,133.0,0.99,0.50,1.04,151.0,1136.0,1092.0,1.88,0.97,0.61
5,22087,22087,2.0,0.0,0.0,0.00,0.14,0.00,144.0,634.0,...,34.0,0.36,0.68,1.43,50.0,777.0,466.0,1.25,1.57,1.39
0,22075,22075,15.0,379.0,39.0,0.68,1.55,0.36,101.0,1287.0,...,0.0,0.00,0.19,0.00,90.0,952.0,1757.0,1.03,4.21,4.15
1,22051,22051,19.0,441.0,69.0,0.93,0.12,0.05,2608.0,858.0,...,313.0,1.01,0.58,0.82,465.0,940.0,6519.0,1.20,1.32,1.15
2,22103,22103,31.0,560.0,135.0,1.41,0.44,0.26,1178.0,845.0,...,190.0,1.09,0.62,1.39,157.0,1061.0,1347.0,1.62,1.00,0.66
3,22071,22071,13.0,708.0,47.0,1.24,0.09,0.04,2529.0,1271.0,...,290.0,0.93,1.09,0.94,313.0,1035.0,7991.0,1.10,1.02,1.72
4,22087,22087,1.0,0.0,0.0,0.00,0.08,0.00,132.0,970.0,...,8.0,0.25,0.67,0.62,50.0,973.0,501.0,1.08,1.72,2.59
5,22089,22089,5.0,0.0,0.0,0.00,0.42,0.00,174.0,757.0,...,31.0,0.80,0.27,0.67,69.0,0.0,0.0,0.00,2.60,0.00

In [52]:
FIPS_list_maria = ['72127', '72021', '72013', '72025', '72113']

In [ ]:
for f in FIPS_list:
    for l in range(len(FIPS_list[f]))
        for d in date_list:
            print('SELECT *')
            print(f'FROM "bigquery-public-data.bls_qcew.{d}_q1"')
            print(f'WHERE area_fips={f[l]}')

In [41]:
# pd.merge(katrina_data_q2, katrina_data_q3)

Empty DataFrame
Columns: [geoid, area_fips, qtrly_estabs_11_agriculture_forestry_fishing_and_hunting, avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting, month3_emplvl_11_agriculture_forestry_fishing_and_hunting, lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting, lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting, lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting, qtrly_estabs_1024_professional_and_business_services, avg_wkly_wage_1024_professional_and_business_services, month3_emplvl_1024_professional_and_business_services, lq_avg_wkly_wage_1024_professional_and_business_services, lq_qtrly_estabs_1024_professional_and_business_services, lq_month3_emplvl_1024_professional_and_business_services, qtrly_estabs_61_educational_services, avg_wkly_wage_61_educational_services, month3_emplvl_61_educational_services, lq_avg_wkly_wage_61_educational_services, lq_qtrly_estabs_61_educational_services, lq_month3_emplvl_61_educational_services, qtrly_estabs_53_real_estate_and_rental_and_leasing, avg_wkly_wage_53_real_estate_and_rental_and_leasing, month3_emplvl_53_real_estate_and_rental_and_leasing, lq_avg_wkly_wage_53_real_estate_and_rental_and_leasing, lq_qtrly_estabs_53_real_estate_and_rental_and_leasing, lq_month3_emplvl_53_real_estate_and_rental_and_leasing, qtrly_estabs_1023_financial_activities, avg_wkly_wage_1023_financial_activities, month3_emplvl_1023_financial_activities, lq_avg_wkly_wage_1023_financial_activities, lq_qtrly_estabs_1023_financial_activities, lq_month3_emplvl_1023_financial_activities, qtrly_estabs_31_33_manufacturing, avg_wkly_wage_31_33_manufacturing, month3_emplvl_31_33_manufacturing, lq_avg_wkly_wage_31_33_manufacturing, lq_qtrly_estabs_31_33_manufacturing, lq_month3_emplvl_31_33_manufacturing, qtrly_estabs_23_construction, avg_wkly_wage_23_construction, month3_emplvl_23_construction, lq_avg_wkly_wage_23_construction, lq_qtrly_estabs_23_construction, lq_month3_emplvl_23_construction, qtrly_estabs_1029_unclassified, avg_wkly_wage_1029_unclassified, month3_emplvl_1029_unclassified, lq_avg_wkly_wage_1029_unclassified, lq_qtrly_estabs_1029_unclassified, lq_month3_emplvl_1029_unclassified, qtrly_estabs_71_arts_entertainment_and_recreation, avg_wkly_wage_71_arts_entertainment_and_recreation, month3_emplvl_71_arts_entertainment_and_recreation, lq_avg_wkly_wage_71_arts_entertainment_and_recreation, lq_qtrly_estabs_71_arts_entertainment_and_recreation, lq_month3_emplvl_71_arts_entertainment_and_recreation, qtrly_estabs_1011_natural_resources_and_mining, avg_wkly_wage_1011_natural_resources_and_mining, month3_emplvl_1011_natural_resources_and_mining, lq_avg_wkly_wage_1011_natural_resources_and_mining, lq_qtrly_estabs_1011_natural_resources_and_mining, lq_month3_emplvl_1011_natural_resources_and_mining, qtrly_estabs_54_professional_and_technical_services, avg_wkly_wage_54_professional_and_technical_services, month3_emplvl_54_professional_and_technical_services, lq_avg_wkly_wage_54_professional_and_technical_services, lq_qtrly_estabs_54_professional_and_technical_services, lq_month3_emplvl_54_professional_and_technical_services, qtrly_estabs_1026_leisure_and_hospitality, avg_wkly_wage_1026_leisure_and_hospitality, month3_emplvl_1026_leisure_and_hospitality, lq_avg_wkly_wage_1026_leisure_and_hospitality, lq_qtrly_estabs_1026_leisure_and_hospitality, lq_month3_emplvl_1026_leisure_and_hospitality, qtrly_estabs_1022_information, avg_wkly_wage_1022_information, month3_emplvl_1022_information, lq_avg_wkly_wage_1022_information, lq_qtrly_estabs_1022_information, lq_month3_emplvl_1022_information, qtrly_estabs_72_accommodation_and_food_services, avg_wkly_wage_72_accommodation_and_food_services, month3_emplvl_72_accommodation_and_food_services, lq_avg_wkly_wage_72_accommodation_and_food_services, lq_qtrly_estabs_72_accommodation_and_food_services, lq_month3_emplvl_72_accommodation_and_food_services, qtrly_estabs_22_utilities, avg_wkly_wage_22_utilities, month3_emplvl_22_utilities, lq_avg_wkly_wage_22_utilities, lq_qtrly_estabs_22_utilities, lq_month3_emplvl_22_utilities, qtrly_estabs_42_wholesale_trade, avg_wkly_wage_42_wholesale_trade, month3_emplvl_42_wholesale_trade, lq_avg_wkly_wage_42_wholesale_trade, lq_qtrly_estabs_42_wholesale_trade, lq_month3_emplvl_42_wholesale_trade, qtrly_estabs_10_total_all_industries, avg_wkly_wage_10_total_all_industries, ...]
Index: []

[0 rows x 194 columns]

In [33]:
harris_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

harris_data = gbq.read_gbq(harris_data, project_id='banded-water-276418')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 28.26rows/s]

In [ ]:
fip_list = ['22087', ]

In [32]:
harris_data

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22075,22075,20.0,535.0,84.0,0.70,2.36,0.71,129.0,1464.0,...,0.0,0.00,0.25,0.00,91.0,1255.0,2006.0,1.10,4.61,4.64
1,22089,22089,3.0,695.0,11.0,0.87,0.23,0.05,216.0,1128.0,...,NaN,NaN,NaN,NaN,80.0,1318.0,2264.0,1.11,2.68,2.74
2,22051,22051,20.0,490.0,39.0,0.85,0.14,0.02,2667.0,952.0,...,29.0,1.25,0.20,0.11,445.0,1097.0,8354.0,1.27,1.29,1.28
3,22071,22071,12.0,1427.0,263.0,2.37,0.09,0.14,3055.0,1192.0,...,24.0,0.43,0.22,0.09,270.0,1066.0,7139.0,1.19,0.86,1.07
4,22103,22103,39.0,614.0,133.0,1.13,0.44,0.16,1836.0,1173.0,...,4.0,0.66,0.10,0.03,184.0,1296.0,2370.0,1.61,0.90,0.78
5,22087,22087,2.0,0.0,0.0,0.00,0.23,0.00,93.0,874.0,...,NaN,NaN,NaN,NaN,31.0,979.0,555.0,1.17,1.56,1.59

In [ ]:
cred = service_account.Credentials.from_service_account_file(
    'project 6-a933f6840f90.json', 
    scopes=["https://www.googleapis.com/auth/cloud-platform"]
)

# client = bigquery.Client(
#     credentials = credentials,
#     project = credentials.banded-water-276418
# )

In [ ]:
sql = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE area_fips = "48201"
"""

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(sql, dialect='standard')

# # Run a Standard SQL query with the project set explicitly
# project_id = '100062872363204309014'
# df = pandas.read_gbq(sql, project_id=project_id, dialect='standard')