In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from pandas.io import gbq
from google.cloud import bigquery

name = 'economic-damage-from-natural-disasters'
df = pd.read_csv('datasets/'+(name)+'.csv')
df.head()

,Entity,Code,Year,Total economic damage from natural disasters (US$)
0,All natural disasters,NaN,1900,30000000
1,All natural disasters,NaN,1901,0
2,All natural disasters,NaN,1902,0
3,All natural disasters,NaN,1903,480000000
4,All natural disasters,NaN,1904,0

In [ ]:
with open("datasets/cats-03062020-1123.csv", 'r') as f:
    lines = f.readlines()

In [ ]:
lines.value_counts()

# Google Database BigQuery Code (Start here)>>>

In [ ]:
# !pip install --upgrade google-cloud-bigquery
# !pip install pandas-gbq
# !pip install google-cloud-bigquery

In [18]:
from google.cloud import bigquery
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file("p5_cred.json")
project_id = 'banded-water-276418'

In [20]:
harris_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE area_fips = "48201"
"""

harris_data = gbq.read_gbq(harris_data, project_id='banded-water-276418')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.84rows/s]

In [21]:
harris_data

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,48201,48201,217.0,933.0,1431.0,1.16,0.18,0.07,23224.0,1543.0,...,1992.0,0.55,0.5,0.61,3351.0,1525.0,104260.0,1.28,1.17,1.33

In [9]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS']= "~/Desktop/GA_master/Projects/project_5/p5_cred.json"

In [ ]:
"C:\Users\username\Downloads\[FILE_NAME].json"

In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account

In [ ]:
cred = service_account.Credentials.from_service_account_file(
    'project 6-a933f6840f90.json', 
    scopes=["https://www.googleapis.com/auth/cloud-platform"]
)

# client = bigquery.Client(
#     credentials = credentials,
#     project = credentials.banded-water-276418
# )

In [ ]:
sql = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE area_fips = "48201"
"""

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(sql, dialect='standard')

# # Run a Standard SQL query with the project set explicitly
# project_id = '100062872363204309014'
# df = pandas.read_gbq(sql, project_id=project_id, dialect='standard')