In [1]:
import requests
import json
import prettytable
import pandas as pd
from pandas.io import gbq
from google.cloud import bigquery
from google.oauth2 import service_account
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
from pybigquery.api import ApiClient

In [2]:
## this json file should be in the same directory as this notebook
credentials = service_account.Credentials.from_service_account_file('./Project 5-ccfc5048ea0d.json')
project_id = 'project-5-276418'

In [3]:
client = bigquery.Client(credentials= credentials,project=project_id)

In [18]:
sql = "SELECT * FROM `bigquery-public-data.bls_qcew.1992_q3` WHERE area_fips = '78030'"
kat_df = client.query(sql).to_dataframe()

In [82]:
kat_df

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,78030,78030,2.0,0.0,0.0,0.0,0.1,0.0,359.0,794.0,...,None,None,None,None,85.0,621.0,711.0,0.87,1.83,1.03

In [11]:
ike_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q4` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = 'C1858' OR 
        b.area_fips = '48201')
"""
ike_q4 = gbq.read_gbq(ike_data, project_id='project-5-276418')

Downloading: 100%|██████████| 4/4 [00:00<00:00, 20.72rows/s]

In [6]:
ike_q1

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,48071,48071,32.0,317.0,115.0,0.65,5.36,1.40,61.0,1123.0,...,0.0,0.00,0.23,0.00,30.0,0.0,0.0,0.00,2.14,0.00
1,48167,48167,13.0,502.0,45.0,1.11,0.24,0.06,791.0,818.0,...,10.0,1.33,0.06,0.06,156.0,924.0,2559.0,1.21,1.21,0.83
2,48245,48245,45.0,566.0,153.0,1.23,0.72,0.16,866.0,860.0,...,19.0,0.56,0.09,0.08,178.0,747.0,4021.0,0.96,1.22,1.01
3,48201,48201,187.0,620.0,1362.0,0.98,0.18,0.09,19444.0,1290.0,...,638.0,0.64,0.15,0.17,2628.0,1336.0,96443.0,1.26,1.10,1.48

In [8]:
ike_q2

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,48245,48245,46.0,591.0,181.0,1.24,0.74,0.15,878.0,885.0,...,39.0,0.65,0.19,0.19,178.0,693.0,4078.0,0.88,1.22,1.03
1,48071,48071,31.0,400.0,107.0,0.83,5.21,1.08,61.0,1182.0,...,0.0,0.00,0.25,0.00,30.0,0.0,0.0,0.00,2.15,0.00
2,48167,48167,12.0,724.0,48.0,1.57,0.22,0.05,799.0,871.0,...,39.0,0.52,0.19,0.24,155.0,890.0,2674.0,1.16,1.19,0.87
3,48201,48201,184.0,643.0,1402.0,1.04,0.18,0.07,19487.0,1221.0,...,1025.0,0.65,0.25,0.30,2707.0,1116.0,97489.0,1.09,1.13,1.49

In [10]:
ike_q3

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,48071,48071,31.0,322.0,102.0,0.65,5.14,1.05,62.0,1099.0,...,0.0,0.00,0.16,0.00,33.0,0.0,0.0,0.00,2.34,0.00
1,48245,48245,47.0,667.0,147.0,1.39,0.76,0.13,880.0,856.0,...,14.0,0.43,0.09,0.07,180.0,696.0,3916.0,0.87,1.25,0.99
2,48167,48167,14.0,492.0,43.0,1.05,0.25,0.05,790.0,887.0,...,25.0,0.64,0.12,0.17,156.0,892.0,2520.0,1.14,1.21,0.84
3,48201,48201,182.0,664.0,1288.0,1.09,0.18,0.07,19547.0,1233.0,...,925.0,0.66,0.23,0.29,2720.0,1105.0,97260.0,1.09,1.13,1.50

In [12]:
ike_q4

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,48167,48167,14.0,833.0,34.0,1.71,0.26,0.05,823.0,1049.0,...,22.0,1.03,0.13,0.16,156.0,1067.0,2774.0,1.36,1.22,0.92
1,48245,48245,46.0,645.0,150.0,1.17,0.74,0.15,904.0,1200.0,...,6.0,0.50,0.04,0.03,180.0,773.0,3580.0,0.87,1.25,0.87
2,48071,48071,30.0,360.0,72.0,0.68,5.01,0.88,64.0,1286.0,...,0.0,0.00,0.33,0.00,32.0,0.0,0.0,0.00,2.30,0.00
3,48201,48201,185.0,911.0,1317.0,1.31,0.18,0.08,19796.0,1448.0,...,331.0,0.57,0.12,0.11,2721.0,1227.0,99916.0,1.10,1.13,1.50

In [13]:
yearly = [ike_q1, ike_q2, ike_q3, ike_q4]

In [14]:
ike_full = pd.concat(yearly)

In [17]:
ike_full.columns

Index(['geoid', 'area_fips',
       'qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'qtrly_estabs_1024_professional_and_business_services',
       'avg_wkly_wage_1024_professional_and_business_services',
       ...
       'month3_emplvl_99_unclassified', 'lq_avg_wkly_wage_99_unclassified',
       'lq_qtrly_estabs_99_unclassified', 'lq_month3_emplvl_99_unclassified',
       'qtrly_estabs_48_49_transportation_and_warehousing',
       'avg_wkly_wage_48_49_transportation_and_warehousing',
       'month3_emplvl_48_49_transportation_and_warehousing',
       'lq_avg_wkly_wage_48_49_transportation_and_warehousing',
       'lq_qtrly_estabs_48_49_transportation_and_warehousing',
       'lq_month3_emplvl_48_49_transportation_and_warehousing'],
      dtype='object', length=194)

In [16]:
ike_full.to_csv('ike_full.csv', index=False)

In [11]:
alexa_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` 
WHERE area_fips = '22087'
"""

In [12]:
alexa_data = gbq.read_gbq(alexa_data, project_id="project-5-276418")
alexa_data.head(3)

Downloading: 100%|██████████| 1/1 [00:00<00:00,  4.36rows/s]

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22087,22087,2.0,0.0,0.0,0.0,0.23,0.0,93.0,874.0,...,NaN,NaN,NaN,NaN,31.0,979.0,555.0,1.17,1.56,1.59

In [65]:
FIPS_list = ['72127']

In [66]:
date_list = ['2017']

In [ ]:
query_list=[]
for f in range(len(FIPS_list)):
    for l in range(len(FIPS_list[f])):
        for c in [1,2,3,4]:
            sql=f'SELECT * FROM `bigquery-public-data.bls_qcew.{date_list[f]}_q{c}` WHERE area_fips={FIPS_list[f][l]}'
            query_list.append(gbq.read_gbq(sql))
df_full=pd.concat(query_list)