In [128]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [152]:
df = pd.read_csv('../datasets/MergedData.csv')

In [154]:
df.head(2)

,geoid,area_fips_x,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,quarter.3,area_fips.3_y,area_title.3,quarterly_establishments.3,month_3_employment.3,month_3_employment_percent_change_oty.3,month_3_employment_rank.3,average_weekly_wages.3,average_weekly_wages_percent_change_oty.3,average_weekly_wages_rank.3
0,Frances,12011,127.0,359.0,1012.0,0.93,0.19,0.18,13583.0,778.0,...,4,12011,"Broward, FL",59200,716600,3.6,46,802,7.5,47
1,Charlie,12021,98.0,291.0,9653.0,0.85,0.80,9.29,2131.0,679.0,...,4,12021,"Collier, FL",10900,129500,5.0,17,741,5.3,159

In [132]:
industry_df

,geoid,STRING,NULLABLE,US FIPS County Code
0,area_fips,STRING,NULLABLE,US FIPS County Code
1,qtrly_estabs_11_agriculture_forestry_fishing_a...,FLOAT,NULLABLE,"Establishments in Agriculture, forestry, fishi..."
2,avg_wkly_wage_11_agriculture_forestry_fishing_...,FLOAT,NULLABLE,"Average weekly wage for Agriculture, forestry,..."
3,month3_emplvl_11_agriculture_forestry_fishing_...,FLOAT,NULLABLE,"Employees in Agriculture, forestry, fishing an..."
4,lq_avg_wkly_wage_11_agriculture_forestry_fishi...,FLOAT,NULLABLE,Average weekly wage location quotient for Agri...
...,...,...,...,...
188,avg_wkly_wage_48_49_transportation_and_warehou...,FLOAT,NULLABLE,Average weekly wage for Transportation and war...
189,month3_emplvl_48_49_transportation_and_warehou...,FLOAT,NULLABLE,Employees in Transportation and warehousing es...
190,lq_avg_wkly_wage_48_49_transportation_and_ware...,FLOAT,NULLABLE,Average weekly wage location quotient for Tran...
191,lq_qtrly_estabs_48_49_transportation_and_wareh...,FLOAT,NULLABLE,Location quotient of establishments in Transpo...
192,lq_month3_emplvl_48_49_transportation_and_ware...,FLOAT,NULLABLE,Employment level location quotient in Transpor...

In [133]:
cost_df

    rank      name      states  year  category  damage  adjusted_damage
0      1   Katrina  FL, LA, MS  2005         3   125.0            160.0
1      2    Harvey      TX, LA  2017         4   125.0            125.0
2      3     Maria          PR  2017         5    90.0             90.0
3      4     Sandy  NY, NJ, MA  2012         1    65.0             70.2
4      5      Irma          FL  2017         5    50.0             50.0
5      6    Andrew      FL, LA  1992         5    27.0             47.8
6      7       Ike      TX, LA  2008         2    30.0             34.8
7      8      Ivan      AL, FL  2004         3    20.5             27.1
8      9     Wilma          FL  2005         3    19.0             24.3
9     10      Rita      LA, TX  2005         3    18.5             23.7
10    11  Florence          NC  2018         1    24.0             24.0
11    12   Charlie          FL  2004         4    16.0             21.1
12    13     Irene          NC  2011         1    13.5             14.9
13    14   Matthew       SE US  2016         1    10.0             10.3
14    15   Frances          FL  2004         2     9.8             12.9
15    16   Allison          TX  2001         1     8.5             11.8
16    17    Jeanne          FL  2004         3     7.5              9.9
17    18      Hugo          SC  1989         4     7.0             14.1
18    19     Floyd      NY, MA  1999         2     6.5              9.6
19    20    Gustav          LA  2008         2     6.0              6.9
20    21   Michael      FL, GA  2018         5    25.1             25.1

In [134]:
new_df = pd.merge(df, cost_df, left_on=['geoid'], right_on=['name'], how='inner')

In [150]:
new_df

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3,rank,name,states,year,category,damage,adjusted_damage
0,Charlie,12015,20.0,540.0,186.0,1.71,0.47,0.55,586.0,553.0,...,1.08,0.72,0.36,12,Charlie,FL,2004,4,16.0,21.1
1,Charlie,12095,233.0,462.0,3893.0,1.18,0.66,0.65,6805.0,791.0,...,0.00,1.23,0.00,12,Charlie,FL,2004,4,16.0,21.1
2,Charlie,12021,96.0,367.0,3696.0,0.98,0.78,3.34,2203.0,706.0,...,0.95,1.35,0.72,12,Charlie,FL,2004,4,16.0,21.1
3,Charlie,12027,112.0,0.0,0.0,0.00,16.42,0.00,48.0,617.0,...,0.00,1.26,0.00,12,Charlie,FL,2004,4,16.0,21.1
4,Charlie,12049,117.0,0.0,0.0,0.00,18.68,0.00,46.0,393.0,...,1.16,0.71,0.25,12,Charlie,FL,2004,4,16.0,21.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Wilma,12011,130.0,436.0,922.0,0.92,0.19,0.15,14826.0,918.0,...,1.46,0.82,0.51,9,Wilma,FL,2005,3,19.0,24.3
116,Wilma,12099,368.0,528.0,8641.0,1.10,0.69,1.90,11315.0,1020.0,...,0.97,0.93,0.95,9,Wilma,FL,2005,3,19.0,24.3
117,Wilma,12087,25.0,878.0,102.0,2.20,0.54,0.36,675.0,996.0,...,0.00,1.24,0.00,9,Wilma,FL,2005,3,19.0,24.3
118,Wilma,12043,18.0,0.0,0.0,0.00,11.20,0.00,17.0,497.0,...,0.00,1.03,0.00,9,Wilma,FL,2005,3,19.0,24.3
119,Wilma,12051,91.0,0.0,0.0,0.00,10.77,0.00,81.0,479.0,...,1.01,1.38,0.69,9,Wilma,FL,2005,3,19.0,24.3

In [151]:
df.corr()

,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,month3_emplvl_1024_professional_and_business_services,...,month3_emplvl_99_unclassified.3,lq_avg_wkly_wage_99_unclassified.3,lq_qtrly_estabs_99_unclassified.3,lq_month3_emplvl_99_unclassified.3,qtrly_estabs_48_49_transportation_and_warehousing.3,avg_wkly_wage_48_49_transportation_and_warehousing.3,month3_emplvl_48_49_transportation_and_warehousing.3,lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3
area_fips,1.000000,-0.271926,-0.237775,-0.313841,-0.361526,-0.079514,-0.138722,-0.127023,-0.159575,-0.001704,...,0.088209,-0.060679,-0.075083,0.081750,0.116239,-0.088992,0.101291,-0.118295,-0.173749,-0.117445
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,-0.271926,1.000000,0.213511,0.852145,0.160285,-0.008380,0.068827,0.564536,0.193073,0.388482,...,0.153939,0.033191,0.113277,0.119213,0.348526,0.043497,0.247926,0.008593,-0.159494,-0.062547
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,-0.237775,0.213511,1.000000,0.195201,0.843478,-0.234578,0.188756,0.482151,0.650211,0.481730,...,0.212121,-0.068906,0.232700,0.041477,0.184300,0.331002,0.161529,0.200780,0.093761,0.134772
month3_emplvl_11_agriculture_forestry_fishing_and_hunting,-0.313841,0.852145,0.195201,1.000000,0.195960,-0.098953,0.219714,0.406295,0.178982,0.254866,...,0.082676,0.062923,0.099129,0.117213,0.240278,0.034206,0.123961,0.040442,-0.121847,-0.048939
lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,-0.361526,0.160285,0.843478,0.195960,1.000000,-0.210312,0.263838,0.188935,0.260748,0.147585,...,0.109142,-0.028458,0.042433,-0.085808,0.066209,0.238209,0.033126,0.179811,0.199166,0.163701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
avg_wkly_wage_48_49_transportation_and_warehousing.3,-0.088992,0.043497,0.331002,0.034206,0.238209,-0.198547,-0.090046,0.166937,0.321913,0.178211,...,-0.080416,0.030764,-0.099065,-0.150265,0.237673,1.000000,0.349476,0.926966,0.134062,0.446865
month3_emplvl_48_49_transportation_and_warehousing.3,0.101291,0.247926,0.161529,0.123961,0.033126,-0.140813,-0.070528,0.448130,0.261926,0.487268,...,0.328639,-0.027345,0.159147,0.064422,0.830457,0.349476,1.000000,0.162205,-0.030824,0.251966
lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,-0.118295,0.008593,0.200780,0.040442,0.179811,-0.150992,-0.049035,0.032450,0.180276,0.042168,...,-0.191628,0.040035,-0.223529,-0.217693,0.052940,0.926966,0.162205,1.000000,0.083556,0.342258
lq_qtrly_estabs_48_49_transportation_and_warehousing.3,-0.173749,-0.159494,0.093761,-0.121847,0.199166,0.030072,0.066722,-0.065157,-0.113045,-0.010332,...,-0.192836,-0.291710,-0.119997,-0.172537,-0.090453,0.134062,-0.030824,0.083556,1.000000,0.771807
lq_month3_emplvl_48_49_transportation_and_warehousing.3,-0.117445,-0.062547,0.134772,-0.048939,0.163701,-0.151273,-0.092449,0.118684,0.030931,0.158089,...,0.008317,-0.204882,0.045696,-0.018261,0.160964,0.446865,0.251966,0.342258,0.771807,1.000000

In [149]:
df.isnull().sum()

geoid                                                         0
area_fips                                                     0
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting     10
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting    10
month3_emplvl_11_agriculture_forestry_fishing_and_hunting    10
                                                             ..
avg_wkly_wage_48_49_transportation_and_warehousing.3         14
month3_emplvl_48_49_transportation_and_warehousing.3         14
lq_avg_wkly_wage_48_49_transportation_and_warehousing.3      14
lq_qtrly_estabs_48_49_transportation_and_warehousing.3       14
lq_month3_emplvl_48_49_transportation_and_warehousing.3      14
Length: 776, dtype: int64

In [148]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
area_fips,132.0,31533.939394,21909.210563,1003.00,12087.0000,22091.000,48175.5000,72151.00
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,122.0,62.975410,82.934751,1.00,16.2500,30.000,83.7500,451.00
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,122.0,388.204918,316.332155,0.00,0.0000,433.500,587.5000,1433.00
month3_emplvl_11_agriculture_forestry_fishing_and_hunting,122.0,699.196721,1511.794679,0.00,0.0000,130.000,533.5000,8641.00
lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,122.0,0.854672,0.650570,0.00,0.0000,1.035,1.2375,2.90
...,...,...,...,...,...,...,...,...
avg_wkly_wage_48_49_transportation_and_warehousing.3,118.0,640.279661,435.037240,0.00,382.5000,739.000,939.7500,2391.00
month3_emplvl_48_49_transportation_and_warehousing.3,118.0,6708.466102,17462.684590,0.00,10.0000,856.000,4668.2500,110883.00
lq_avg_wkly_wage_48_49_transportation_and_warehousing.3,118.0,0.844237,0.561435,0.00,0.7150,0.970,1.1575,3.44
lq_qtrly_estabs_48_49_transportation_and_warehousing.3,118.0,1.233136,0.829576,0.26,0.7625,1.010,1.3400,5.84
lq_month3_emplvl_48_49_transportation_and_warehousing.3,118.0,0.748644,0.989685,0.00,0.0850,0.485,0.9425,6.73

In [69]:
new_df['damage_by_county'] = 0
for i in new_df['geoid'].unique():
    count = new_df[new_df['geoid'] == i].shape[0]
    print(count)
    new_df.loc[new_df['geoid'] == i,'damage_by_county'] = new_df.loc[new_df['geoid'] == i,'adjusted_damage'] * .8/count

3
6
11
9
4
16
13
11
6
5
7
7
12
6
7

In [84]:
df_no_andrew = new_df.drop(axis='index',index=[0,1,2])

In [85]:
df_no_andrew

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,lq_qtrly_estabs_48_49_transportation_and_warehousing.3,lq_month3_emplvl_48_49_transportation_and_warehousing.3,rank,name,states,year,category,damage,adjusted_damage,damage_by_county
3,Charlie,12021,98.0,377.0,3947.0,1.01,0.80,3.52,2183.0,676.0,...,0.74,0.36,12,Charlie,FL,2004,4,16.0,21.1,2.813333
4,Charlie,12015,21.0,398.0,386.0,1.22,0.50,1.04,589.0,597.0,...,1.00,0.96,12,Charlie,FL,2004,4,16.0,21.1,2.813333
5,Charlie,12095,231.0,427.0,4534.0,1.11,0.65,0.74,6799.0,758.0,...,1.37,0.70,12,Charlie,FL,2004,4,16.0,21.1,2.813333
6,Charlie,12027,118.0,0.0,0.0,0.00,17.03,0.00,46.0,630.0,...,1.01,0.00,12,Charlie,FL,2004,4,16.0,21.1,2.813333
7,Charlie,12087,26.0,0.0,0.0,0.00,0.55,0.00,643.0,735.0,...,1.11,0.00,12,Charlie,FL,2004,4,16.0,21.1,2.813333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Wilma,12099,366.0,510.0,6403.0,1.19,0.70,1.22,10980.0,823.0,...,0.82,0.51,9,Wilma,FL,2005,3,19.0,24.3,2.777143
119,Wilma,12071,116.0,471.0,1707.0,1.22,0.60,0.85,3134.0,717.0,...,0.93,0.95,9,Wilma,FL,2005,3,19.0,24.3,2.777143
120,Wilma,12087,25.0,514.0,90.0,1.46,0.53,0.26,661.0,774.0,...,1.24,0.00,9,Wilma,FL,2005,3,19.0,24.3,2.777143
121,Wilma,12043,18.0,0.0,0.0,0.00,11.71,0.00,14.0,457.0,...,1.03,0.00,9,Wilma,FL,2005,3,19.0,24.3,2.777143
122,Wilma,12051,97.0,0.0,0.0,0.00,11.76,0.00,77.0,455.0,...,1.38,0.69,9,Wilma,FL,2005,3,19.0,24.3,2.777143

In [ ]:
wage = pd.read_csv('../new_datasets/wage.csv')

In [33]:
y = new_df['Damage(Adjusted for Inflation)']

In [34]:
X = new_df.drop(columns=['geoid', 'area_fips', 'Rank', 'Name', 'States', 'Year', 'Category', 'Damage (B$)', 'Damage(Adjusted for Inflation)'])