In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [90]:
andrew = pd.read_csv('../datasets/andrew.csv')
charlie = pd.read_csv('../datasets/charlie.csv')
frances = pd.read_csv('../datasets/frances.csv')
harvey = pd.read_csv('../datasets/harvey.csv')
ike = pd.read_csv('../datasets/ike.csv')
irene = pd.read_csv('../datasets/irene.csv')
irma = pd.read_csv('../datasets/irma.csv')
ivan = pd.read_csv('../datasets/ivan.csv')
katrina = pd.read_csv('../datasets/katrina.csv')
maria = pd.read_csv('../datasets/maria.csv')
matthew = pd.read_csv('../datasets/matthew.csv')
michael = pd.read_csv('../datasets/michael.csv')
rita = pd.read_csv('../datasets/rita.csv')
sandy = pd.read_csv('../datasets/sandy.csv')
wilma = pd.read_csv('../datasets/wilma.csv')

In [91]:
df_full = pd.concat([andrew, charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [92]:
df_full.head(5)

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,12011,12011,92.0,274.0,1041.0,1.04,0.16,0.23,7132.0,462.0,...,NaN,NaN,NaN,NaN,786.0,444.0,18954.0,0.91,0.80,1.27
1,12087,12087,NaN,NaN,NaN,NaN,NaN,NaN,351.0,493.0,...,NaN,NaN,NaN,NaN,95.0,341.0,736.0,0.89,1.27,0.81
2,12099,12099,NaN,NaN,NaN,NaN,NaN,NaN,5246.0,548.0,...,NaN,NaN,NaN,NaN,414.0,415.0,4775.0,0.82,0.57,0.44
3,12011,12011,96.0,299.0,930.0,1.12,0.16,0.17,7227.0,466.0,...,NaN,NaN,NaN,NaN,809.0,439.0,18630.0,0.85,0.81,1.26
4,12099,12099,NaN,NaN,NaN,NaN,NaN,NaN,5314.0,548.0,...,NaN,NaN,NaN,NaN,422.0,443.0,4421.0,0.86,0.58,0.42

In [93]:
df_full.shape

(492, 194)

In [94]:
wages = pd.read_csv('../datasets/other/county-ests-employment-and-wages.csv')

In [95]:
wages.shape

(22102, 11)

In [96]:
hurricanes=pd.read_csv('~/GA/projects/project_5/datasets/fip_codes_years.csv')

In [97]:
hurricanes.head(8)

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017
2,48167,Galveston,Major,TX,Harvey,Sept,3,1,2,4,2017
3,48039,Brazoria,Major,TX,Harvey,Sept,3,1,2,4,2017
4,48321,Matagorda,Major,TX,Harvey,Sept,3,1,2,4,2017
5,48057,Calhoun,Major,TX,Harvey,Sept,3,1,2,4,2017
6,48007,Aransas,Major,TX,Harvey,Sept,3,1,2,4,2017
7,48409,San Patricio,Major,TX,Harvey,Sept,3,1,2,4,2017

In [98]:
hurricanes.shape

(129, 11)

In [99]:
hurricanes['fip_code'].dtypes

dtype('int64')

In [100]:
hurricanes['fip_code']=hurricanes['fip_code'].map(lambda x:str(x))

In [101]:
hurricanes['fip_code'][hurricanes['fip_code'].isin(wages['area_fips'])]

0      48201
1      48245
2      48167
3      48039
8      48355
       ...
120    34021
121    36059
123    36061
126    51810
128    51700
Name: fip_code, Length: 62, dtype: object

In [102]:
year_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        yr=int(hurricanes[hurricanes['hurricane']==i]['year'].mean())
        year_list.append(yr)

In [103]:
FIPS_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        unq_fips=list(hurricanes[hurricanes['hurricane']==i]['fip_code'].unique())
        FIPS_list.append(unq_fips)

In [104]:
q_list=[]
for i in hurricanes['hurricane'].unique():
    if i != 'Andrew':
        new_q=[0,0,0,0]
        new_q[0]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_-2'].mean())
        new_q[1]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_-1'].mean())
        new_q[2]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_0'].mean())
        new_q[3]=int(hurricanes.loc[hurricanes['hurricane']==i,'q_1'].mean())
        q_list.append(new_q)
q_list

[[1, 2, 3, 4],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [2, 3, 4, 1],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [1, 2, 3, 4]]

In [105]:
wages.columns

Index(['year', 'quarter', 'area_fips', 'area_title',
       'quarterly_establishments', 'month_3_employment',
       'month_3_employment_percent_change_oty', 'month_3_employment_rank',
       'average_weekly_wages', 'average_weekly_wages_percent_change_oty',
       'average_weekly_wages_rank'],
      dtype='object')

In [106]:
len(year_list),len(FIPS_list),len(q_list)

(14, 14, 14)

In [107]:
wages.dtypes

year                                        int64
quarter                                     int64
area_fips                                  object
area_title                                 object
quarterly_establishments                   object
month_3_employment                         object
month_3_employment_percent_change_oty      object
month_3_employment_rank                    object
average_weekly_wages                       object
average_weekly_wages_percent_change_oty    object
average_weekly_wages_rank                  object
dtype: object

In [108]:
cols=wages.columns
wages_new1=pd.DataFrame(columns=cols)
wages_new2=pd.DataFrame(columns=cols)
wages_new3=pd.DataFrame(columns=cols)
wages_new4=pd.DataFrame(columns=cols)
for f in range(len(FIPS_list)):
    for l in range(len(FIPS_list[f])):
        if q_list[f][0]==1:
            df1=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==1)]
            df2=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==2)]
            df3=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==3)]
            df4=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==4)]
            #df=pd.concat([df1,df2,df3,df4])
        else:
            df1=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==2)]
            df2=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==3)]
            df3=wages[(wages['year']==year_list[f])&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==4)]
            df4=wages[(wages['year']==(year_list[f]+1))&(wages['area_fips']==FIPS_list[f][l])&(wages['quarter']==1)]
            #df=pd.concat([df1,df2,df3,df4])
        wages_new1=pd.concat([wages_new1,df1])
        wages_new2=pd.concat([wages_new2,df2])
        wages_new3=pd.concat([wages_new3,df3])
        wages_new4=pd.concat([wages_new4,df4])

In [109]:
wages_new1.shape,wages_new3.shape,wages_new3.shape,wages_new4.shape,

((57, 11), (57, 11), (57, 11), (57, 11))

In [110]:
for j in wages_new2.columns:
    wages_new2.rename(columns={j:j+'_q-1'})
for k in wages_new3.columns:
    wages_new3.rename(columns={k:k+'_q0'})
for l in wages_new4.columns:
    wages_new4.rename(columns={l:l+'_q1'})

In [119]:
w1=wages_new1.reset_index(drop=True)
w2=wages_new2.reset_index(drop=True)
w3=wages_new3.reset_index(drop=True)
w4=wages_new4.reset_index(drop=True)

In [120]:
wages_fin=pd.concat([w1,w2,w3,w4],axis=1)

In [121]:
wages_fin.to_csv('../datasets/other/wages_final.csv', index=False)