In [1]:
import requests
import json
import prettytable
import pandas as pd
from pandas.io import gbq
from google.cloud import bigquery
from google.oauth2 import service_account
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
from pybigquery.api import ApiClient

In [2]:
## this json file should be in the same directory as this notebook
credentials = service_account.Credentials.from_service_account_file('./Project 5-ccfc5048ea0d.json')
project_id = 'project-5-276418'

In [3]:
client = bigquery.Client(credentials= credentials,project=project_id)

In [81]:
sql = "SELECT * FROM `bigquery-public-data.bls_qcew.2017_q3` WHERE area_fips = '78030'"
kat_df = client.query(sql).to_dataframe()

In [82]:
kat_df

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,78030,78030,2.0,0.0,0.0,0.0,0.1,0.0,359.0,794.0,...,None,None,None,None,85.0,621.0,711.0,0.87,1.83,1.03

In [ ]:
katrina_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
katrina_data_q2 = gbq.read_gbq(katrina_data, project_id='banded-water-276418')

In [11]:
alexa_data = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` 
WHERE area_fips = '22087'
"""

In [12]:
alexa_data = gbq.read_gbq(alexa_data, project_id="project-5-276418")
alexa_data.head(3)

Downloading: 100%|██████████| 1/1 [00:00<00:00,  4.36rows/s]

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,month3_emplvl_99_unclassified,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing
0,22087,22087,2.0,0.0,0.0,0.0,0.23,0.0,93.0,874.0,...,NaN,NaN,NaN,NaN,31.0,979.0,555.0,1.17,1.56,1.59

In [65]:
FIPS_list = ['72127']

In [66]:
date_list = ['2017']

In [ ]:
query_list=[]
for f in range(len(FIPS_list)):
    for l in range(len(FIPS_list[f])):
        for c in [1,2,3,4]:
            sql=f'SELECT * FROM `bigquery-public-data.bls_qcew.{date_list[f]}_q{c}` WHERE area_fips={FIPS_list[f][l]}'
            query_list.append(gbq.read_gbq(sql))
df_full=pd.concat(query_list)